*{
    margin: 10px;
    padding: 10px;
}

.login, .footer{
    position: relative;
    text-align: center;
    background-color: aliceblue;
}

.footer{
    background-color: gray;
    color: whitesmoke;
}